<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
            width: 700px;
            margin: 0 auto;
        }
        th, td {
            text-align: center;
            padding: 8px;
        }
        th {
            background-color: #39f541;
            color: #ffffff;
        }
        tr:nth-child(even) {
            background-color: #b4b4b4;
        }
        tr:nth-child(odd) {
            background-color: #ffffff;
        }
    </style>
    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript">
        function del_all() {
            var ids = [];
            var checkboxes = document.getElementsByName("id");
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    ids.push(checkboxes[i].value);
                }
            }
            if (ids.length == 0) {
                alert("请选择要删除的记录！");
                return false;
            }
            if (confirm("确认删除吗？")) {
                $.ajax({
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({"id": ids}),
                    method: "POST",
                    url: "/user/delbyid",
                    success: function (data) {
                        if (data.code == 0) {
                            alert("删除成功！");
                            var checkboxes = document.getElementsByName("id");
                            debugger
                            for (var i = checkboxes.length - 1; i >= 0; i--) {
                                if (checkboxes[i].checked) {
                                    checkboxes[i].parentNode.parentNode.remove(); //删除选中的行
                                }
                            }
                        } else {
                            alert("删除失败！");
                        }
                    },
                    error: function (data) {
                        alert("删除失败！");
                    }
                });
            }
        }

        function del(obj, btn) {
            if (confirm("确认删除吗？")) {
                $.ajax({
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({"id": obj}),
                    method: "POST",
                    url: "/user/delete",
                    success: function (data) {
                        if (data.code == 0) {
                            alert("删除成功！");
                            btn.parentNode.parentNode.remove();
                        } else {
                            alert("删除失败！");
                        }
                    },
                    error: function (data) {
                        alert("删除失败！");
                    }
                });
            }
        }
        function checkall() {
            var checkall = document.getElementById("checkall");
            var checkboxes = document.getElementsByName("id");
            if (checkall.checked) {
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = true;
                }
            } else {
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = false;
                }
            }
        }
    </script>
</head>
<body>
<table>
    <tr style="background-color: white;">
        <td colspan="4" style="text-align: left;font-size: 24px;font-weight: bold;">用户列表</td>
        <td colspan="2" style="text-align: right;font-size: 18px;font-weight: bold;">
            <button onclick="location.href='/useradd'">添加用户</button>
            <button onclick="del_all()">删除选择</button>
        </td>
    </tr>
    <tr>
        <th>全选<input type="checkbox" id="checkall" onclick="checkall()"></th>
        <th>序号</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>性别</th>
        <th>角色</th>
        <th>操作</th>
    </tr>
    {% for i  in data %}
        <tr>
            <td><input type="checkbox" name="id" value="{{ i.id }}"></td>
            <td>{{ i.id }}</td>
{#            <td>{{ data.index(i) + 1 }}___data.index(i)</td>#}
{#            <td>{{ loop.index + 1 }}___loop.index</td>#}
            <td>{{ i.name }}</td>
            <td>{{ i.age }}</td>
            <td>{{ i.sex_name }}</td>
            <td>{{ i.role }}</td>
            <td>
                <button onclick="location.href='/user/add?id={{ i.id }}'" style="background-color: #4253fc;color:#ffffff;border:none;">编辑</button>
                <button onclick="del({{ i.id }},this)" style="background-color: #f61c1c;color:#ffffff;border:none;">删除</button>
            </td>
        </tr>
    {% endfor %}
</table>
{#<iframe name="iframe"   src="https://www.hao123.com"   frameborder="0"     width="100%"   height="800px"   ></iframe>#}
</body>
</html>